<%- include("portials/header") %>
<link rel="stylesheet" href="../../css/contactUsStyle.css">
<link rel="stylesheet" href="../css/infobarStyle.css">
<link rel="stylesheet" href="../css/navbarStyle.css">

<title>Kurdspex</title>
</head>
<body>

<%- include("portials/navbar") %>
<div id="nav">Contact Us</div>

<div class="container mt-4 con">
    <div class="row">
        <div class="col-xl-12">
            <div class="card text-center text-light">
                <div class="card-body">
                  <h1 class="card-title">Contact Us</h1>
                  <p class="card-text">hello there if you have any problem or you want to work with us, you can contact us in the following ways</p>
                </div>
            </div>
            <h2 class="mt-5 mb-4">you can contact us on our social media accounts</h2>
        </div>
    </div>

    <div class="container  mx-auto">
        <div class="row d-flex mx-5">
            <div class="mx-auto col-xl-2 col-xs-6">
                <a href="https://www.facebook.com/Kurdspex-101028595633243" class="icon" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>
            </div>
            <div class="mx-auto col-xl-2 col-xs-6">
                <a href="#" class="icon" target="_blank">
                    <i class="fab fa-facebook-messenger"></i>
                </a>
            </div>
            <div class="mx-auto col-xl-2 col-xs-6">
                <a href="https://www.instagram.com/kurdspexcompany/" class="icon" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <div class="mx-auto col-xl-2 col-xs-6">
                <a href="https://t.me/Kurdspex" class="icon" target="_blank">
                    <i class="fab fa-telegram"></i>
                </a>
            </div>
            <div class="mx-auto col-xl-2 col-xs-6">
                <a href="viber://chat?number=07518979796" class="icon" target="_blank">
                    <i class="fab fa-viber"></i>
                </a>
            </div>
            <div class="mx-auto col-xl-2 col-xs-6">
                <a href="#" class="icon" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>
    </div>

    <h2 class="mb-4" style="margin-top: 100px;">or you can contact us directly through those numbers</h2>

    <div class="row">
        <div class="col-lg-5 mx-auto mt-4">
            <div class="card text-center contact contact1 text-light">
                <div class="h1">
                  Kurdspex
                </div>
                <div class="card-body bg-light text-dark">
                  <p class="card-text">E-Commerce Company</p>
                  <div class="card-title display-3">0751 897 9796</div>
                </div>
              </div>
        </div>

        <div class="col-lg-5 mx-auto mt-4">
            <div class="card text-center contact contact2 text-light">
                <div class="h1">
                  Robokurd
                </div>
                <div class="card-body bg-light text-dark">
                  <p class="card-text">Programming and Graphic Design Company</p>
                  <div class="card-title display-3">0750 591 2129</div>
                </div>
              </div>
        </div>
    </div>

    <h3 class="mb-4" style="margin-top: 100px;">or you can email us through this email (click on the email to copy it)</h3>
    <a class="mb-5 email btn" onclick="copy(this)"><div class="h1">WorldTech@gmail.com</div></a>

    <div class="mt-2 mb-5 pt-1 bg-dark location">
        <h1 class="text-center text-light pt-3">Our Official Agent Location in Kurdistan</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d201.2495393766595!2d44.004234017555234!3d36.1910610760082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4007238ab3840111%3A0x7d11d113f40893b7!2sImation%20For%20Computer!5e0!3m2!1sen!2siq!4v1624374411659!5m2!1sen!2siq" id="map" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>

<%- include("portials/infobar") %> 
<%- include("portials/footer") %>