<%- include("portials/header") %>
<link rel="stylesheet" href="../css/itemsStyle.css">

<title>Error</title>
</head>
<body>

<div class="container">
    <div class="display-1 text-center mt-4"><%= status %> </div>
    <div class="display-5 text-center"><%= message %> </div>
</div>

<%- include("portials/footer") %>