<%- include("../portials/header") %>
<link rel="stylesheet" href="../../css/singUpStyle.css">

<title>Kurdspex</title>
</head>
<body> 

<div class="container sing">
    <div class="row">
        <div class="col-xl-6 mx-auto">
            <div class="card text-light bg-dark text-center">
                <div class="card-body">
                    <h1 class="card-title">Changing Password</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 mx-auto post">
            <div class="card bg-light">
                <form class="px-5 py-3" action="/accountMaster/password?_method=PUT" method="POST">
                    <h3 class="text-center"><%= name %></h3>
                    <label for="name" class="pt-2">New Password</label>
                    <input type="text" name="email" value="<%= email %>" style="display: none;">
                    <input class="form-control" type="text" name="user_password" placeholder="Password" required>
                    <div class="text-center b">
                        <input class="mx-auto mt-4 btn btn-success" type="submit" value="Save Change">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 
</body>
</html>