<div class="row mt-4 user">
    <div class="col-xl-12 mx-auto">
        <div class="card mb-3 account shadow-sm bg-light">
            <div class="row g-0">
              <div class="col-md-5 py-3 px-md-5 text-center">
                <i class="fas fa-user-circle"></i>
              </div>
              <div class="col-md-7">
                <div class="card-body">
                    <div class="pe-2">
                        <label for="name">User Name</label>
                        <input class="form-control Disabled readonly" type="text" value="<%= user.username %>" disabled readonly>
                        <label for="email" class="pt-2">Email address</label>
                        <input type="email" class="form-control Disabled readonly" value="<%= user.email %>" disabled readonly>
                        <label for="phoneNumber" class="pt-2">Phone Number</label>
                        <input type="tel" class="form-control Disabled readonly" value="<%= user.phoneNumber %>" disabled readonly>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-success mt-4 mt-md-5 rounded-pill px-4" data-bs-toggle="modal" data-bs-target="#Modal">Edit Account</button>
                      <%- include("accountModel") %>
                      <a class="btn btn-outline-success mt-2 mt-md-5 rounded-pill px-4" href="/account/password">Change Password</a>
                      <a class="btn btn-outline-success mt-2 mt-md-5 rounded-pill px-4" href="/logout">Log Out</a>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>