    <script src="https://kit.fontawesome.com/936f8d5876.js" crossorigin="anonymous"></script>
    <script src="<%= webUrl %>/bootstrap.bundle.min.js"></script>
    <script src="<%= webUrl %>/javaScript/navbar.js"></script>
</body>
</html>