<%- include("../portials/header") %>
<link rel="stylesheet" href="../../css/navbarStyle.css">
<link rel="stylesheet" href="../../css/infobarStyle.css">

<title>Kurdspex</title>
</head>
<body>
    
<%- include("../portials/navbar") %> 
<div class="container l">
    <form action="/coinItems" method="POST" class="mt-3 validation" novalidate>
        <label for="name" class="mt-1">Item Name</label>
        <input class="form-control" id="name" name="coin[item_name]" type="text" placeholder="Item Name" required>
        <div class="d-flex mt-2">
              <select class="form-select mx-3" name="coin[mode]" required>
                <option selected disabled value="">Item Status</option>
                <option value="new">New Item</option>
                <option value="used">Used Item</option>
              </select>
              <select class="form-select mx-3" name="coin[visible]">
                <option selected value="true">Visible</option>
                <option value="false">Hide</option>
              </select>
        </div>
        <label for="image" class="mt-2">Main Image Url</label>
        <input class="form-control" id="image" name="coin[main_image]" type="text" placeholder="Main Image Url" required>
        <label for="image1" class="mt-1">Sub Image Url</label>
        <input class="form-control" id="image1" name="coin[sub_image_1]" type="text" placeholder="Sub Image Url" required>
        <input class="form-control mt-1" id="image1" name="coin[sub_image_2]" type="text" placeholder="Sub Image Url" required>
        <input class="form-control mt-1" id="image1" name="coin[sub_image_3]" type="text" placeholder="Sub Image Url" required>
        <div class="form-floating mt-3">
            <textarea class="form-control" name="coin[item_description]" placeholder="description text" id="description" style="height: 100px" required></textarea>
            <label for="description">Description</label>
        </div>
        <div class="form-floating mt-3">
            <textarea class="form-control" name="coin[details]" placeholder="details text" id="details" style="height: 100px" required></textarea>
            <label for="details">Details</label>
        </div>
        <div class="form-floating mt-3">
            <textarea class="form-control" name="coin[body]" placeholder="body text" id="body" style="height: 200px"></textarea>
            <label for="body">Body</label>
        </div>
        <label for="price" class="mt-3">Item Price</label>
        <input class="form-control" id="price" name="coin[price]" type="text" min="0" placeholder="Item price" required>
        <label for="quantity" class="mt-3">Item Quantity</label>
        <input class="form-control" id="quantity" name="coin[quantity]" type="text" min="1" placeholder="Item Quantity" required>
        <div class="d-grid gap-2 col-6 mx-auto mb-5">
            <button type="submit" class="btn btn-success mx-auto mt-5" style="align-self: center;">Add Item</button>
        </div>
    </form>
</div>

<script src="../javaScript/validation.js"></script>

<%- include("../portials/infobar") %> 
<%- include("../portials/footer") %>