<option value="Adapters">Adapters</option>
<option value="Cables">Cables (Lan, HDMI, VGA, Prenter, ...)</option>
<option value="FlashMemory">Flash Memory</option>
<option value="hdd">HDD</option>
<option value="Headphone">Headphone</option>
<option value="Headset">Headset</option>
<option value="keyboard">Keyboard</option>
<option value="laptop">Laptop</option>
<option value="Laptopbattery">Laptop battery</option>
<option value="LaptopCharger">Laptop Charger</option>
<option value="Microphone">Microphone</option>
<option value="MobileCharger">Mobile Charger</option>
<option value="Moniter">Moniter</option>
<option value="mouse">Mouse</option>
<option value="padMouse">Pad Mouse</option>
<option value="PenTouchscreen">Pen Touchscreen</option>
<option value="PowerPankInternet">Power Pank Internet</option>
<option value="Printer">Printer</option>
<option value="RAM">RAM</option>
<option value="Router">Router</option>
<option value="SDCardMemory">SD Card Memory</option>
<option value="ssd">SSD</option>
<option value="Toner">Toner</option>
<option value="UPS">UPS</option>
<option value="UpsBattery">Ups Battery</option>
<option value="Webcam">Webcam</option>